/**public**/
#search_company_control{ position:absolute; z-index:998px; left:162px; bottom:52px; -webkit-text-size-adjust: none; font-size:12px;_bottom:32px;}
#search_company_select_label{ background:url(../images/search_company2.jpg) no-repeat; height:31px; width:290px; line-height:31px; text-indent:10px; color:#09122f; cursor:pointer;}
#search_company_select{border:1px #09132f solid;width:258px; display:none;color:#09122f;}
#search_company_select li{ cursor:pointer; width:258px; height:24px; line-height:24px; background:#fff; text-indent:10px; -webkit-text-size-adjust: none; font-size:12px;}
#search_company_select .selectoption{ background:#09132f; color:#fff; height:24px; line-height:24px;} 
#search_company_select a{color:#09122F}
#search_date_control{position:absolute; z-index:999px; left:535px; bottom:52px; -webkit-text-size-adjust: none; font-size:12px;_bottom:32px;}
#search_date_select_label{ background:url(../images/search_date.jpg) no-repeat; height:30px; width:320px; line-height:30px; cursor:pointer; }
#search_date_select_label input{ background:none;border:none; width:310px; height:30px; line-height:28px; padding-left:10px;   margin:0px;}


#search_year_control{ position:absolute; z-index:998px; left:690px; bottom:52px; -webkit-text-size-adjust: none; font-size:12px;_bottom:32px;}
#search_year_select_label{ background:url(../images/search_year.jpg) no-repeat; height:31px; width:138px; line-height:31px; text-indent:10px; color:#09122f; cursor:pointer;}
#search_year_select{border:1px #09132f solid;width:106px; display:none;color:#09122f;}
#search_year_select a{color:#09122F}
#search_year_select li{cursor:pointer; width:106px; height:24px; line-height:24px; background:#fff; text-indent:0px; -webkit-text-size-adjust: none; font-size:12px; text-align:center;}
#search_year_select .selectoption{ background:#09132f; color:#fff; height:24px; line-height:24px;} 

#search_year_control2{ position:absolute; z-index:1999px; left:140px; top:80px; -webkit-text-size-adjust: none; font-size:12px;padding:0px; margin:0px;}
#search_year_select2_label{}
#search_year_control2 a{color:#09122F}
#search_year_select2{border:1px #09132f solid;width:69px; display:none;color:#09122f;}
#search_year_select2 li{cursor:pointer; width:69px; height:24px; line-height:24px; background:#fff; text-indent:10px;-webkit-text-size-adjust: none; font-size:12px;}
#search_year_select2 .selectoption{ background:#09132f; color:#fff; height:24px; line-height:24px; }


#search_year_control3{ position:absolute; z-index:1999px; left:140px; top:80px; -webkit-text-size-adjust: none; font-size:12px;padding:0px; margin:0px;}
#search_year_select3_label{}
#search_year_control3  a{color:#09122F}
#search_year_select3{border:1px #09132f solid;width:164px; display:none;color:#09122f;}
#search_year_select3 li{cursor:pointer; width:164px; height:24px; line-height:24px; background:#fff; text-indent:10px;-webkit-text-size-adjust: none; font-size:12px;}
#search_year_select3 .selectoption{ background:#09132f; color:#fff; height:24px; line-height:24px;} 

#pager{ padding-left:424px; padding-top:10px; height:20px;}
#pager li{ float:left; margin-left:10px; display:inline;}
#pager li a{ color:#666666;}

.font11{-webkit-text-size-adjust: none; font-size:11px;}

 /**director**/
 .director_content{ margin:11px 0px 0px 141px; padding:0px; width:700px; position:relative; font-size:12px; z-index:100;font-size:12px;border-top:1px #ececec solid; margin-top:11px;} 
 .director_content .director_detail{ box-shadow: 2px 2px 10px #666666;position:absolute; width:239px; border:1px solid #000000; display:none; z-index:121; background:#09132f; }
 .director_content .director_detail .detail_title{ height:31px; width:210px; margin:0 auto;  line-height:31px; background:#09132f;color:white; border-left:1px #535a6e solid; border-right:1px #535a6e solid; text-align:center;} 
 .director_content .director_detail .detail_content{padding:11px 18px 11px 19px; line-height:16px; background:#fff;-webkit-text-size-adjust: none; font-size:10px;}
 .director_content .director_detail .bottomhref{ height:31px; width:220px; background:#fff; margin:0 auto;  line-height:31px;    text-align:right; padding-right:19px;} 
 .director_content .director_detail .bottomhref a{ color:#09122f; font-style:italic;-webkit-text-size-adjust: none; font-size:10px;}
 .director_pic img{ cursor:pointer;} 
 .director_content #people_1_detail{ left:189px; top:59px; }
 .director_content #people_2_detail{ left:244px; top:164px;}
 .director_content #people_3_detail{ left:349px; top:114px;}
 .director_content #people_4_detail{ left:349px; top:169px;}
 .director_content #people_5_detail{ left:394px; top:220px;}
 .director_content #people_6_detail{ left:184px; top:174px;}
 .director_content #people_7_detail{ left:234px; top:104px;}
 .director_content #people_8_detail{ left:289px; top:129px;}
 .director_content .people_1{ position:absolute;z-index:111px; left:99px; top:59px;}
 .director_content .people_2{ position:absolute;z-index:111px; left:154px; top:164px;}
 .director_content .people_3{ position:absolute;z-index:111px; left:259px; top:114px;}
 .director_content .people_4{ position:absolute;z-index:111px; left:259px; top:324px;}
 .director_content .people_5{ position:absolute;z-index:111px; left:304px; top:219px;}
 .director_content .people_6{ position:absolute;z-index:111px; left:409px; top:174px;}
 .director_content .people_7{ position:absolute;z-index:111px; left:459px; top:279px;}
 .director_content .people_8{ position:absolute;z-index:111px; left:514px; top:129px;}
 
 /**version_content**/
 .version_content{ font-size:12px; background:none; margin:11px 0px 0px 141px;border-top:1px #ececec solid;  padding:8px 20px 8px 10px;border-top:1px #ececec solid; width:668px;border-bottom:1px #ececec solid; width:668px; float:left; display:inline;}
 .version_content div{ float:left; display:inline;}
 .version_content .left_pic{ width:120px; background:#09122f;}
 .version_content .right_content{ width:437px; padding-left:10px; line-height:16px;}
 .version_content .right_content p{margin-top:7px;}
 
 /**overview_content**/
 .overview_content{ font-size:12px; background:none; margin:11px 0px 0px 141px; border-top:1px #ececec solid; padding:8px 20px 8px 10px;border-top:1px #ececec solid; width:668px;border-bottom:1px #ececec solid; width:668px; float:left;display:inline;}
 .overview_content div{ float:left;}
 .overview_content .right_content{ width:460px; padding-left:10px; line-height:16px;}
 .overview_content .right_content p{margin-top:7px;}
 
 .story_content{ font-size:12px; background:none; margin:11px 0px 0px 141px; border-top:1px #ececec solid; padding:8px 20px 8px 10px;border-top:1px #ececec solid; width:668px;width:668px; float:left;display:inline;}
 
 .storygoback{margin:11px 0px 0px 151px; line-height:30px; color:#666666; cursor:pointer; }
 
 .story_content div{ float:left;}
 .story_content .story_1{padding:79px 0px 0px 109px;}
 .story_content .story_2{padding:124px 0px 0px 10px; }
 .story_content .story_3{padding:94px 0px 0px 10px;}
 .story_content .story_4{padding:214px 0px 0px 10px;} 
 .story_content .story_5{padding:179px 0px 0px 10px;}
 .story_content .story_6{padding:139px 0px 0px 10px;} 
 
 .story_content_detail{padding-top:10px; line-height:16px;}
 .story_content_detail .peopletitle{ float:none;}
 .story_content_detail .peopletitle p{color:#333333;}
 .story_content_detail .storyleftimg{ float:left;}
 .story_content_detail .storyline{ float:left; width:10px; height:550px; background:#09132f;}
 .story_content_detail .storyrightcontent{ float:left; width:390px; padding-left:15px;}
 
 .story_people_content p{font-size:11px; -webkit-text-size-adjust: none;}
 
 /**strategy_content**/
 .strategy_content{ font-size:12px; background:none; margin:11px 0px 0px 141px; padding:8px 20px 58px 40px;border-top:1px #ececec solid; width:668px;border-bottom:1px #ececec solid; width:638px; float:left;display:inline;}
 .strategy_content  p{margin-top:14px;}
 .strategy_content a{ text-decoration:underline; line-height:18px;}
 .strategy_title{padding:6px 0px 0px 152px; height:30px;}
 .strategy_content .stitle{ text-align:left; font-size:18px; line-height:52px;}
 .strategy_content .segmentlist p{100px;}
 .strategy_content .strategylist{ margin-left:-40px; margin-top:18px; }
 .strategy_content .strategylist ul{ padding-top:18px;}
 .strategy_content .strategylist ul li{ float:left;}
 .strategy_content .strategylist ul a{ text-decoration:none; color:#989AA2;}
 .strategy_content .strategylist  .lefttexttig{ width:485px; height:18px; line-height:18px; border-bottom:1px #ececec solid;padding-left:40px;}
 .strategy_content .strategylist  .rightdownbtn{padding-left:71px;}
 .strategy_detail{ position:absolute; width:347px; border:1px solid #000000;box-shadow: 2px 2px 10px #666666; display:none; }
 .strategy_detail .detail_title{ height:31px; text-indent:12px; line-height:31px; background:#09132f;color:white;}
 .strategy_detail .detail_content{padding:11px 10px 11px 9px; line-height:16px; background:#fff;}
 .strategy_detail .close_win{ position:absolute; right:5px; top:5px;  cursor:pointer; color:#f8e2d4;}
 
 /**lastestnews**/
 .lastest_news_content{font-size:12px; background:none; margin:11px 0px 0px 141px; padding:8px 20px 8px 10px;border-top:1px #ececec solid; width:668px;border-bottom:1px #ececec solid; float:left;display:inline; padding-bottom:58px; height:414px;}
 
 .lastest_news_content .newslist{ width:682px;padding-bottom:18px; border-bottom:1px #ececec solid; float:left; margin-top:20px; height:100px; display:inline;  } 
 .lastest_news_content .newslist .newsleftpic{ float:left;}
 .lastest_news_content .newslist .newsrightcontent{ float:left;padding-left:19px; width:426px; }
 .lastest_news_content .newslist .newsrightcontent .datetime{}
 .lastest_news_content .newslist .newsrightcontent .title{color:#333; font-size:18px;}
 .lastest_news_content .newslist .newsrightcontent .descript{}
 .lastest_news_content .newslist .detailbtn{padding:3px 0px 0px 52px; float:left;}
 
 .datelist{border-top:1px #ececec solid; width:700px; margin:11px 0px 0px 141px;height:30px; line-height:30px;}
 .datelist ul{ margin:0px; padding:0px;}
 .datelist ul li{ float:left; margin-left:19px;}
 .datelist ul li a{ color:#999999;}
 .datelist ul .selectdateli{ width:69px; margin:0px; padding:0px; height:23px; line-height:12px; padding-top:7px; text-align:center; border-right:1px #ececec solid; cursor:pointer;}
 /**content_detail**/
 .news_content_detail{font-size:12px; background:none; margin:11px 0px 0px 141px; padding:18px 20px 8px 10px;  float:left;display:inline;border-top:1px #ececec solid; position:relative;} 
 .news_content_detail .news_title_pr{ float:left; width:165px; overflow:hidden;}
 .news_content_detail .news_right{ float:left; width:502px; padding-left:15px; overflow:hidden;height:457px;padding-bottom:36px; }
 .news_content_detail .news_right_btn{position:absolute; right:50px;z-index:888;}
 .news_date{vertical-align:top; color:#666; width:395px;}
 .news_content_detail h3{ text-align:left; color:#333; width:395px;}
 .news_content_detail .go_back{ line-height:32px; width:681px; border-top:1px #ececec solid;}
 .news_content_detail .go_back a{color:#989aa2;}
 .news_content_detail .go_back span{float:left; font-weight:bold;}
 .news_content_detail .go_back .golist{padding-left:10px; cursor:pointer;}
 .news_content_detail .go_back .goindex{float:right;padding-right:20px;}
 .news_content_detail .go_back .spec{color:#fff; padding-right:20px;float:right;}
 .news_content_detail .go_back .gonewslist{padding-right:20px;float:right;}
 .news_content_detail .news_content{padding-bottom:40px; line-height:18px; color:#666; width:395px;} 
 
 
 .jaccar_top_btn{position:absolute; top:10px; right:60px;}
 
 
 /***ftp**/
 .ftp_content{font-size:12px; background:none;padding-top:48px; margin:11px 20px 8px 142px;border-top:1px #ececec solid; float:left;display:inline; padding-bottom:248px;}
 .ftp_content p{ line-height:32px; font-size:12px; width:173px; text-align:center;}
 .ftp_content .inputdiv{ float: left;}
 .ftp_content input{border:none; background:url(../images/ftp_input.jpg) no-repeat; height:24px; line-height:24px; width:294px; padding:3px; margin-top:20px;} 
 .ftp_content .ftp_left_text{ float:left; width:180px; padding:6px 0px 8px 40px; border-bottom:1px #ececec solid; margin-top:20px;}
 .ftp_content #ftp_submit_btn{padding-left:332px; margin-top:30px;}
 
 
 /**contact us**/
 .contactus_content{ font-size:12px; background:none; margin:11px 0px 0px 141px; padding:8px 20px 0px 0px;border-top:1px #ececec solid; width:660px;  float:left;display:inline;} 
 .contactus_content .onetips{margin-bottom:0px;}
 .contactus_content .onetips .lefttext{float:left; width:180px; padding:6px 0px 8px 40px; border-bottom:1px #ececec solid; margin-top:20px;}
 .contactus_content .onetips .rightinfo{ float:left; padding:0px; margin:0px;}
 .contactus_content .onetips .rightinfo input{border:none; margin:0px; padding:0px;}
 .contactus_content .onetips .rightinfo .firstname{ border:none; background:url(../images/ftp_input.jpg) no-repeat; height:24px; line-height:24px; width:294px; padding:3px; margin-top:20px;}
 .contactus_content .onetips .rightinfo .lastname{border:none; background:url(../images/ftp_input.jpg) no-repeat; height:24px; line-height:24px; width:294px; padding:3px; margin-top:20px;}
 .contactus_content .onetips .rightinfo .email{border:none; background:url(../images/ftp_input.jpg) no-repeat; height:24px; line-height:24px; width:294px; padding:3px; margin-top:20px;}
 .contactus_content .onetips .rightinfo .message{ background:url(../images/message_bg.jpg) no-repeat; height:84px; width:294px;  border:none; padding:3px;word-break:break-all;word-wrap:break-word; overflow:auto;} 
 .contactus_content .onetips .rightinfo .btnlist{ padding:0px; margin:0px; padding-top:20px;} 
 .contactus_content .onetips .rightinfo .btnlist li{ float:left; padding-right:11px;}
 .contactus_content .onetips  .sendbtn{padding:60px 0px 0px 71px; float:left;}
 .contactdetail{margin:0px 0px 0px 141px; padding:0px 0px 8px 0px;border-bottom:1px #ececec solid; }
 .contactdetail .onetigs{ color:#09122f; margin-top:22px; } 
 .contactdetail .onetigs ul{padding:0px;margin:0px; float:left;}
 .contactdetail .onetigs .left_title{ width:160px;border-bottom:1px #ececec solid; }
 .contactdetail .onetigs .left_title .title{ width:118px; height:30px; line-height:30px; text-align:center; color:#09122f; font-weight:bold; border:1px #ececec solid; border-bottom:none;margin-left:40px; }
 .contactdetail .onetigs .right_detail{ padding-left:26px; line-height:15px;-webkit-text-size-adjust: none;  }
 
 /**press kit **/
 .presskit_content{ font-size:12px; background:none; margin:11px 0px 0px 141px; padding:0px;border-top:1px #ececec solid; width:700px;border-bottom:1px #ececec solid;  float:left;display:inline; height:500px; padding-top:40px;} 
 .presskit_content .onetitle{ height:50px; width:700px;}
 .presskit_content .onetitle .lefttext{ float:left; width:479px; padding-left:40px; padding-top:26px; line-height:24px; font-weight:bold; color:#333333;border-bottom:1px #ececec solid; }
 .presskit_content .onetitle .rightbtn{ padding-top:17px; float:left; padding-left:74px;}
 
 /**legals*/
 .legals_content{ font-size:12px; background:none; margin:11px 0px 0px 141px; padding:0px;border-top:1px #ececec solid; width:700px;border-bottom:1px #ececec solid;  float:left;display:inline; height:500px;}
 .legals_content .subnav{width:659px; padding-left:41px; line-height:40px;border-bottom:1px #ececec solid; }
 .legals_content .subnav li{ float:left;  display:inline; font-weight:bold; cursor:pointer; height:40px; margin-top:10px; width:120px; text-align:center; }
 .legals_content .subnav .selectsubnav{ color:#fff; background:#09122f;}
 .legals_content .contentdetail{padding:18px 0px 0px 25px; color:#333333; display:none; line-height:20px;}
 .contentdetail  tr{ vertical-align:top;}
 .contentdetail  tr td{ width:169px; padding-top:20px;}
 .navcontent{ width:512px; word-wrap:break-word}
 /**index*/
 .index_content{ position:relative; font-size:12px;}
 .index_content .flash_div{ position:absolute; z-index:11;}
 .index_content .tipslist{ position:absolute; z-index:12; left:19px; top:380px;}
 .index_content .tipslist .tips{ background:url(../images/index_tips_bg.jpg) no-repeat; height:180px; width:239px; float:left; margin-right:12px; display:inline; padding-left:21px; position:relative;}
 .index_content .tipslist .tips .subtitle{ line-height:30px; color:#09122f;}
 .index_content .tipslist .tips .subcontent{width:220px; line-height:18px; padding:10px 0px 0px 0px; height:100px; -webkit-text-size-adjust: none; font-size:11px;}
 .index_content .tipslist .tips .detailbtn{padding-left:189px; position:absolute; bottom:10px;}
 
 
 /**point view**/ 
 .points_view_content{min-height:500px;height:auto !important;_height:500px;font-size:12px; background:none; margin:11px 0px 0px 141px; padding:8px 20px 8px 10px;border-top:1px #ececec solid; width:668px;border-bottom:1px #ececec solid; float:left;display:inline; padding-bottom:28px;}
 
 .points_view_content .pointslist{ width:682px;padding-bottom:18px; border-bottom:1px #ececec solid; float:left; margin-top:18px; padding-bottom:20px; display:inline;  }  
 .points_view_content .pointslist .newsleftcontent{ float:left;padding-left:29px; width:509px; }
 .points_view_content .pointslist .newsleftcontent .datetime{}
 .points_view_content .pointslist .newsleftcontent .title{color:#333; font-size:18px;}
 .points_view_content .pointslist .newsleftcontent .descript{ margin-top:16px; color:#333333;}
 .points_view_content .pointslist .detailor{padding:3px 0px 0px 28px; float:left;}
 .points_view_content .pointslist .detailor a{color:#666666;}
 .points_view_content .pointslist .imglist{ margin-top:8px;}
 .points_view_content .pointslist .imglist ul{padding:0px; margin:0px;}
 .points_view_content .pointslist .imglist li{ float:left;width:58px;height:38px;background:url(../images/points_img_bg.jpg) no-repeat; padding:1px 5px 5px 3px; margin-right:9px; display:inline;}
 
  /***map**/
 .map_content{font-size:12px; background:none;padding-top:48px; margin:11px 20px 8px 142px;border-top:1px #ececec solid; float:left;display:inline; padding-bottom:100px;}
 .map_content ul{width:582px; margin:0px; padding:0px; border-bottom:1px #f2f2f2 solid; margin-bottom:20px; height:28px;}
 .map_content ul li{ background:url(../images/list_style_img.jpg) no-repeat left center; margin-left:13px; display:inline; padding-left:14px; width:105px; line-height:28px;color:#666666; float:left; }
 .map_content ul li a{color:#666666;}
 .map_content ul .firsttitle{margin-left:40px; display:inline; width:119px; text-align:center; margin-right:10px; height:28px; background:#09122f;}
 .map_content ul .firsttitle a{ color:#fff;}
 
  /***affiliates**/
 .affiliates_content{font-size:12px; background:none;padding-top:22px; margin:11px 20px 8px 142px;border-top:1px #ececec solid; float:left;display:inline; padding-bottom:100px; padding-left:39px;}
 .affiliates_content .onediv{ float:left; margin-right:20px; border:1px #ececec solid; height:138px; width:178px; margin-bottom:19px;}
 .affiliates_content .onediv .logolabel{ width:178px; height:18px; line-height:18px; text-align:center;border-top:1px #ececec solid;}
 .affiliates_content .onediv .logolabel a{color:#666666;}
 .affiliates_content .onediv .logodiv{ width:178px; height:119px; overflow:hidden;}
 .affiliates_detail{background:url(../images/affiliates_detail_bg.jpg) repeat-y; width:315px; position:absolute; left:300px; top:100px; display:none;box-shadow: 2px 2px 10px #666666;}
 .affiliates_detail .detailtitle{ border-bottom:1px #d1d1d1 solid; height:30px; line-height:30px; color:#666666; text-align:center;}
 .affiliates_detail .detailbottom{ border-top:1px #d1d1d1 solid; height:30px; line-height:30px; color:#666666; text-align:center; margin-top:10px;}
 .affiliates_detail .detailbottom a{color:#333333;-webkit-text-size-adjust: none; font-size:10px;}
 .affiliates_detail .detailc{ width:275px; margin:0px auto; line-height:16px; margin-top:8px;-webkit-text-size-adjust: none; font-size:10px;}
 
 
 .segmentwin{ display:none; width:560px; background:#fff;padding-bottom:5px; position:absolute; left:202px; bottom:73px; z-index:11;}
 .segmentwin .stitle{width:560px; height:31px; line-height:31px; text-align:center; font-weight:bold; border-bottom:1px #d1d1d1 solid;}
 .segmentwin ul{ margin:0px; padding:10px 0px 0px 0px;}
 .segmentwin ul li{ float:left; padding-left:10px;}
 .segmentwin .opencontent{width:345px;}
 .segmentwin .opencontent p{ padding-bottom:12px;}
 .segmentlist ul{padding:0px;margin:0px; margin-top:10px;}
 .segmentlist ul li{ float:left; margin-left:59px; display:inline; width:118px; height:18px; border:1px #ececec solid; text-align:center; color:#09122f; cursor:pointer;}
 
  .scroll_key_content{height:465px; width:600px; padding:0px; margin:0px; overflow:hidden;}