*{
	padding:0px;
	margin:0px;
}
body{
	color:#333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	height:100%;
	overflow-y:auto; 
	padding-top: 5px;
	/*
	SCROLLBAR-FACE-COLOR:#FF9900; 
	SCROLLBAR-HIGHLIGHT-COLOR: #FF9900; 
	SCROLLBAR-SHADOW-COLOR: #FFFF99;
	SCROLLBAR-3DLIGHT-COLOR: #FFCC00; 
	SCROLLBAR-ARROW-COLOR: #e8f3fd; 
	SCROLLBAR-TRACK-COLOR: #FFFF99; 
	SCROLLBAR-DARKSHADOW-COLOR: #FFFF99; 
	*/
}
/*---- link --------------*/
a{
	color:#000;
}
a:hover{
	color:#FFFF00;
	text-decoration:none;
}
/*---- menu style --------------*/
.menu{
	width:152px;
	margin-left:auto;
	margin-right:auto;
}
.menu dl{
	margin-top:2px;
}
.menu dl dt{
	background:url(../images/menu_title_bg.jpg) top left repeat-x;
}
.menu dl dt a{
	height:30px;
	padding-top:3px;
	line-height:19px;
	width:152px;
	display:block;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	background:url(../images/ico_1.gif) 10px 7px no-repeat;
	text-indent:30px;
	letter-spacing:2px;
}
.menu dl dt a:hover{
	color:#e8f3fd;
}
.menu dl dd ul{
	list-style:none;
}
.menu dl dd ul li a{
	height:30px;
	widows:152px;
	display:block;
	line-height:30px;
	text-indent:28px;
	color: #5e5e5e;
    font-weight:bold;
	text-decoration: none;  
	background-image: url(../images/jaccarcms_16.jpg);
	background-repeat: repeat-x;
	background-position: 10px center; 
}
.menu dl dd ul li a:hover{
	color:#239fe3;
	background-color: #e8f3fd;
	background-image: url(../images/ico_3.gif);
	background-repeat: no-repeat;
	background-position: 10px center;
}
